<div class="d-flex">
  <!-- Init Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->
  
  <!-- Init Buscador -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs..." />
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam,
        doloremque temporibus placeat quam mollitia, dignissimos maxime
        aspernatur tempore natus ut quod assumenda odit obcaecati cumque amet
        porro perferendis. Veritatis?
      </div>
    </div>
  </div>
  <!-- End Buscador -->
</div>
